.error{
    text-align: center;
    padding: 5%;
    color: #00bc77;
    &__title{
        font-size: 240px;
    }
    &__paragraph{
        font-size: 32px;
        margin-bottom: 20vh;
    }
    &__link{
        color: #00bc77;
    }
}