.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 65px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &__logo{
        object-fit: cover;
        width: 200px;
        height: 55px;
    }
    &__signIn{
        display: flex;
    }
    &__userImage{
        width: 15px;
        height: 15px;
    }
    &__user{
        display: flex;
        margin-right: 15px;
    }
    &__userName{
        font-size: 15px;
        font-weight: 600;
        margin-left: 3px;
        letter-spacing: .5px;
        text-decoration: none;
        color: black;
        &:hover{
            text-decoration: underline;
        }
    }
    &__signInLink{
        color: black;
        text-decoration: none;
    }
    &__signOutContainer{
        display: flex;
    }
    &__signInButton, &__signOutButton{
        font-size: 15px;
        font-weight: 600;
        margin-left: 3px;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}